<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="Port" value="1943" />
		<add key="StreamKey" value="live" />
		<add key="inputiniFile" value="ReferFile.ini" />
		<add key="outputiniFile" value="MonaServer.ini" />
		<add key="MediaServer" value="MonaServer.exe" />
	</appSettings>

</configuration>